
<html class="wide wow-animation" lang="en">
<head>
</head>
<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="page">
        <!-- Page Header-->
        <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/breadcrumbs-bg.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Typography</h2>
                <div class="breadcrumbs-custom-subtitle">Lots of customization options</div>
            </div>
        </section>
        <!-- Base typography -->
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-xl">
                            <li>
                                <h1>H1 Heading</h1>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                            <li>
                                <h2>H2 Heading</h2>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                            <li>
                                <h3>H3 Heading</h3>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                            <li>
                                <h4>H4 Heading</h4>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                            <li>
                                <h5>H5 Heading</h5>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                            <li>
                                <h6>H6 Heading</h6>
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- HTML Text Elements-->
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8">
                        <h4>HTML Text Elements</h4>
                        <p class="text-block">
                            <span>Welcome to our wonderful world. This is a bold text</span>
                            <mark>This is a highlighted text</mark><span>We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login</span><span class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Tooltips">Tooltips</span><span>widgets, you will definitely have a great experience of using our web page.</span><span class="text-strike">This is a strickethrough text</span><span class="text-underline">This is an underlined text.</span><a href="#">Link Hover</a><a class="link-press" href="#">Press link</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Unordered List-->
        <section class="section section-lg bg-default">
            <div class="container">
                <h4>Ordered & Unordered Lists</h4>
                <div class="row row-30">
                    <div class="col-md-6 col-xl-3">
                        <ul class="list-marked">
                            <li>Consulting</li>
                            <li>Customer Service</li>
                            <li>Innovation</li>
                            <li>Management</li>
                            <li>Ethics</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <ol class="list-ordered">
                            <li>Consulting</li>
                            <li>Customer Service</li>
                            <li>Innovation</li>
                            <li>Management</li>
                            <li>Ethics</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blockquote-->
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-50">
                    <div class="col-lg-8 col-xl-5">
                        <h4>Blockquote</h4>
                        <!-- Quote Primary-->
                        <article class="quote-simple">
                            <div class="quote-simple-body">
                                <q>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor.</q>
                            </div>
                            <div class="quote-simple-footer">
                                <cite class="heading-5 quote-simple-cite">Jane Smith</cite><span class="quote-simple-description">Designer</span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
</body>
</html>