<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT typography ANY>
<!ATTLIST typography id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT introductionControl ANY>
<!ATTLIST introductionControl id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="59f0f71a-4be5-4d4d-bebe-e6e00dac3b43" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-09-13T13:03:48" updateDate="2020-09-15T16:44:34" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Ilya Malckin" writerName="Ilya Malckin" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <introduction><![CDATA[<div class="jumbotron-custom wow fadeInRight">
<div class="text-1">Digital Production</div>
<div class="text-2">of the</div>
<div class="title">Future</div>
<p class="big">With 19+ years’ experience in combining web development, design and marketing, we create award-winning projects and creative campaigns both online and offline.</p>
</div>]]></introduction>
    <about id="1061" key="1df183dd-f5c4-4c8d-863f-5146d0b5f231" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2020-09-13T15:47:18" updateDate="2020-09-13T15:47:18" nodeName="About" urlName="about" path="-1,1054,1061" isDoc="" nodeType="1058" creatorName="Ilya Malckin" writerName="Ilya Malckin" writerID="0" template="1055" nodeTypeAlias="about" isPublished="true" />
    <contact id="1062" key="76339f3f-8a6b-4ad9-847d-8609dce35643" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2020-09-13T15:47:32" updateDate="2020-09-13T15:47:32" nodeName="Contact" urlName="contact" path="-1,1054,1062" isDoc="" nodeType="1060" creatorName="Ilya Malckin" writerName="Ilya Malckin" writerID="0" template="1057" nodeTypeAlias="contact" isPublished="true" />
    <typography id="1063" key="e8fbb507-09ea-4fb2-b916-7839aacde1b4" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2020-09-13T15:47:38" updateDate="2020-09-13T15:47:42" nodeName="Typography" urlName="typography" path="-1,1054,1063" isDoc="" nodeType="1059" creatorName="Ilya Malckin" writerName="Ilya Malckin" writerID="0" template="1056" nodeTypeAlias="typography" isPublished="true" />
  </home>
</root>