 @inherits UmbracoViewPage

<section class="section context-dark bg-image bg-mask bg-mask-2 section-fullheight section-90vh" style="background-image: url('@Umbraco.Field("HeaderBanner")')">
    <div class="section-fullheight-inner section-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center text-md-left">
                    @Umbraco.AssignedContentItem.GetPropertyValue("Introduction")
                    @*<div class="jumbotron-custom wow fadeInRight">
                        <div class="text-1">Digital Production</div>
                        <div class="text-2">of the</div>
                        <div class="title">Future</div>
                        <p class="big">With 19+ years’ experience in combining web development, design and marketing, we create award-winning projects and creative campaigns both online and offline.</p>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

