<section class="section section-xl-custom image-section section-lined">
    <div class="container container-lined">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-6">
                <h3>EVERY PROJECT</h3>
                <div class="big big-custom">IS A CHALLENGE TO DO BETTER</div>
                <p>We are a team of  talented designers and developers who are ready to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering creative and unique websites to our clients worldwide.</p>
                <div class="button-wrap-2"><a class="button button-default" href="about-us.html">Read more about us</a></div>
            </div>
        </div>
    </div>
    <div class="image-container">
        <div class="mock-up-1">
            <div class="object object-1">
                <img class="wow fadeInRight" src="~/images/image-custom-1-395x243.jpg" alt="" width="395" height="243" />
            </div>
            <div class="object object-2">
                <img class="wow fadeInRight" src="~/images/image-custom-2-384x189.jpg" alt="" width="384" height="189" data-wow-delay="0.2s" />
            </div>
            <div class="object object-3">
                <img class="wow fadeInRight" src="~/images/image-custom-3-395x243.jpg" alt="" width="395" height="243" data-wow-delay="0.4s" />
            </div>
            <div class="object object-4">
                <img class="wow fadeInRight" src="~/images/image-custom-4-209x184.jpg" alt="" width="209" height="184" data-wow-delay="0.6s" />
            </div>
            <div class="object object-5">
                <img class="wow fadeInRight" src="~/images/image-custom-5-395x243.jpg" alt="" width="395" height="243" data-wow-delay="0.2s" />
            </div>
            <div class="object object-6">
                <img class="wow fadeInRight" src="~/images/image-custom-6-275x184.jpg" alt="" width="275" height="184" data-wow-delay="0.4s" />
            </div>
        </div>
    </div>
</section>

