<section class="section section-lg bg-gray-100 section-lined">
    <div class="container container-lined">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-40 justify-content-between">
            <div class="col-lg-7 col-xl-8">
                <div class="row no-gutters">
                    <div class="col-sm-6 wow fadeInLeft">
                        <div class="box-team box-team-right">
                            <img src="~/images/index-3-1-390x332.jpg" alt="" width="390" height="332" />
                            <div class="meta">
                                <div class="heading-6 title">John Smith</div>
                                <p class="position">Senior Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInRight">
                        <div class="box-team box-team-right">
                            <img src="~/images/index-3-2-390x332.jpg" alt="" width="390" height="332" />
                            <div class="meta">
                                <div class="heading-6 title">Gary Hughes</div>
                                <p class="position">Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="box-team box-team-right">
                            <img src="~/images/index-3-3-390x332.jpg" alt="" width="390" height="332" />
                            <div class="meta">
                                <div class="heading-6 title">Sam Lee</div>
                                <p class="position">Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="box-team box-team-right">
                            <img src="~/images/index-3-4-390x332.jpg" alt="" width="390" height="332" />
                            <div class="meta">
                                <div class="heading-6 title">Sarah Parker</div>
                                <p class="position">Marketing manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="row row-30 row-xxl-55 justify-content-end">
                    <div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
                        <h3>Team</h3>
                        <div class="big-text">We are a dedicated team of web design, development and marketing professionals always ready to help you.</div>
                        <div class="divider divider-2 d-none d-lg-block"></div>
                    </div>
                    <div class="col-sm-6 col-lg-8 col-xl-7">
                        <div class="counter-minimal">
                            <div class="counter-left">
                                <div class="counter">20</div>
                            </div>
                            <div class="counter-right">
                                <div class="postfix">+</div>
                                <div class="title">People in team</div>
                            </div>
                        </div>
                        <ul class="list-marked list-marked-big">
                            <li>28 exceptional full-time professionals</li>
                            <li>5-year specialized team member practice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

